body {
    margin: 0;
    box-sizing: border-box;
    font-size: 13px;
    background: #efefef;
    text-wrap: balance;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body::-webkit-scrollbar {
    display: none;
}

/* ---- Sugerir Crear cuenta ---- */

.sugerir_abrir_cuenta {
    text-align: center;
    margin: 10px;
    background: #fff;
    padding: 5px 20px 5px 20px;
    box-shadow: 0 0 2px #1c1c1c55;
    border-radius: 4px;
    box-sizing: border-box;
    color: #1c1c1cc8;
}

.sugerir_abrir_cuenta__titulo {
    font-size: 1.15em;
    opacity: 85%;
}

.sugerir_abrir_cuenta__boton {
    width: 95%;
    height: 50px;
    margin: 2px 0 3px 0;
    border-radius: 4px;
    box-sizing: border-box;
    border: none;
    color: #fff;
    background: #08f;
    font-size: 1.10em;
    cursor: pointer;
    transition: width 0.3s ease-in-out;
}

.sugerir_abrir_cuenta__boton:hover {
    background: #0af;
    width: 100%;
}

.sugerir_abrir_cuenta__texto  a {
    text-decoration: none;
    color: #08f;
}

.sugerir_abrir_cuenta__texto  a:hover {
    background: transparent;
    color: #0af;
}

/* ---- Cookies ---- */

.cookies {
    font-size: 1em;
    position: fixed;
    border: none;
    border-radius: 0;
    z-index: 20;
    text-align: center;
    box-shadow: 0 0 2px #1c1c1c77;
    bottom: 0;
}

.cookies.visible {
    display: none;
}

.cookies__contenido {
    background: #fff;
    padding: 6px 5px 4px;
}

.cookies__p {
    color: #1c1c1cdd;
    font-size: 0.9em;
    margin: 0 0 15px 0;
}

.cookies__a{
    text-decoration: none;
    color: #08f;
}
.cookies__a:hover {
    color: #0af;
}

.cookies_btn {
    padding: 11px 16px;
    background: #08f;
    box-sizing: border-box;
    border: none;
    color: #fff;
    font-size: 0.8em;
    cursor: pointer;
    transition: width 0.2s ease-in-out;
    border-radius: 4px;
    margin: 0 2px;
    width: 47%;
}

.cookies_btn:hover {
    background: #0af;
    width: 49%;
}

/* ---- Header ---- */

#header-box {
    background: linear-gradient(#2D033B 50%, #efefef);
}

.nav {
    box-sizing: border-box;
    padding-bottom: 55px;
    background: #2D033b;
}

.nav__div {
    display: flex;
    width: 100%;
    padding: 8px 0;
    position: fixed;
    background: #2D033b;
    box-shadow: 0 0 2px #4D235b;
    justify-content: space-between;
    z-index: 20;
}

.nav__div__separar {
    display: flex;
    margin: auto 8px;
}

.logo {
    height: 39px;
    padding: 0 2px 0 2px;
}

.nav__carrito {
    border-radius: 5px;
    border: none;
    width: 26px;
    height: 26px;
    margin: auto;
    margin: 2px 6px 0 9px;
}

.nav__carrito path {
    fill: #fff;
}

.nav__buscar {
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 22px;
    height: 22px;
    margin: auto;
}

.nav__buscar path {
    fill: #fff;
}

#abrir_lista {
    background: transparent;
    border: none;
}

.nav__menu {
    border-radius: 5px;
    width: 32px;
    height: 32px;
    margin: auto;
    margin: 0 0 0 0;
}

.nav__menu path {
    fill: #fff;
}

.nav__menu__cerrar {
    border-radius: 5px;
    width: 26px;
    height: 26px;
    padding: 3px;
    margin: auto;
}

.nav__menu__cerrar path {
    fill: #fff;
}

/* ---- Lista despliegable ---- */

.header__lista {
  display: none;
  padding: 60px 0 20px;
  width: 100%;
  height: 110vh;
  position: fixed;
  background: #2D033b;
  z-index: 15;
  box-sizing: border-box;
}

.header__lista.visible {
  display: block;
}

.header__lista__botones {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 35px 85px 20px;
  font-size: 0.9em;
}

.header__lista__boton {
  border: none;
  border-radius: 3px;
  padding: 9px 16px;
  margin: 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 1.07em;
  transition: padding 0.2s ease-in-out;
  color: #fff;
}

.btn__uno {
  background: transparent;
}

.btn__dos {
  background: #08f;
}

.btn__dos:hover {
    background: #0af;
}

.header__lista__boton:hover {
  padding: 9px 18px;
}

.header__lista__input {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
}

.header__lista__input__item {
  height: 40px;
  padding: 0 15px;
  border-radius: 7px;
  border: 1px solid #00000066;
  width: 80%;
  font-family: inherit;
  color: #000;
  font-size: 1.05em;
}

.header__lista__input__item:focus {
  outline: none;;
}

.header__lista__input__item::placeholder {
    color: #00000066;
    font-size: 1.05em;
}

.header__lista__div__ul {
    box-sizing: border-box;
    margin-top: 30px;
    padding: 0 20px;
    font-size: 1.07em;
    display: flex;
    flex-direction: column;
}

.header__lista__div__ul__li {
    list-style: none;
    padding: 18px 5px 10px;
    margin: 0;
    border-top: 1px solid #4D235b;
}

.header__lista__div__ul__li a {
    color: #ddd;
    text-decoration: none;
    text-transform: uppercase;
    padding: 7px 12px;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s, border-radius 0.3s;
}

.header__lista__div__ul__li a:hover {
    background: #eee;
    color: #2D033b;
    border-radius: 15px;
}

/* ---- Vista desde computadora ---- */

.header__computer {
    display: none;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 0 10px;
}

#header__computer__input {
    margin: 0 10px;
    padding: 5px 170px 5px 15px;
    text-align: start;
}

.header__computer__ul {
    display: inline;
    padding: 0 50px;
}

.header__computer__ul li {
    display: inline;
    list-style: none;
    padding: 0 7px;
}

.header__computer__a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease, padding 0.2s ease, border-bottom 0.2s ease;
}

.header__computer__a:hover {
    color: #0af;
    padding: 0 0 4px;
    border-bottom: 1px solid #0af;
}

.header__computer__svg, .nav__carrito__svg {
    border-radius: 5px;
    border: none;
    width: 26px;
    height: 26px;
    margin: auto;
    margin: 2px 5px 0 9px;
}

.header__computer__svg, .nav__carrito__svg path {
    fill: #fff;
}

@media screen and (min-width: 500px){
    .header__computer {
        display: flex;
    }
    .nav__carrito {
        display: none;
    }
    #abrir_lista {
        display: none;
    }
    
}

/* ---- Body Carrusel ---- */

.carousel {
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    width: 98.3%;
    margin-left: 3px;
    margin-right: 3px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel__item {
    flex-shrink: 0;
    width: 97%;
    height: auto;
    margin: 3px;
    scroll-snap-align: end;
}

.carousel img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 0 2px #1c1c1c55;
}

.tarjetita {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 2px #1c1c1c55;
    width: 94.5%;
    border-radius: 3px;
    padding: 8px 2px;
    font-size: 0.9em;
    margin: 2px 9px 0 9px;
    font-weight: 400;
}

.tarjetita__item {
    width: 12px;
    height: 12px;
    margin: 0 3px 0 0;
}

.tarjetita__item path {
    fill: #094;
}

.tarjetita__color_verde {
    color: #094;
    margin: 0 3px 0 0;
    z-index: 10;
}

/* ---- Artículos ---- */

.articulo_cuadrado {
    box-sizing: border-box;
    margin: 10px;
    background: #fff;
    padding: 10px 5px 5px 5px;
    box-shadow: 0 0 2px #1c1c1c55;
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
    gap: 0 8px;
}

.cuadradito {
    box-shadow: 0 0 2px #1c1c1c33;
    padding: 9px 8px 11px 8px;
    box-sizing: border-box;
    margin: 10px 3px 1px 3px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    transition: opacity 0.3s ease, transform, box-shadow 0.3s ease-in-out !important
}

.cuadradito:hover {
    opacity: 75%;
    transform: translateY(-4px) scale(1)!important;
    box-shadow: 0 0 3px rgba(0,0,0,0.4)!important
}

.cuadradito__img {
    width: 88%;
    border-radius: 4px;
    margin: 0px 0 2.5px 0;
}

.cuadradito__div {
    text-align: start;
    padding: 0 0 0 8px;
}

.cuadradito__div__titulo {
    font-weight: 500;
    padding: 0;
    margin: 0 0 6px 0;
    font-size: 0.9em;
    color: #1c1c1cc8;
    text-wrap: pretty;
}

.cuadradito__div__texto {
    font-size: 1.15em;
    margin: 1.5px 0 1.3px 0;
    font-weight: 500;
}

.ver_mas_cuadrado {
    border-top: 1px solid #1c1c1c33;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 13px 2px 1px 5px;
    padding: 9px 10px 9px 5px;
    color: #1c1c1cc8;
    cursor: pointer;
    grid-column: 1 / -1;
    transition: padding 0.2s ease-in-out, color 0.2s ease-in-out;
}

.ver_mas_cuadrado:hover {
    padding: 9px 5px 9px 5px;
}

.ver_mas__icon_fecha2 {
    width: 14px; 
    height: 14px;
    font-weight: bold;
}

.ver_mas__icon_fecha2 path {
    fill: #000;
    transition: fill 0.2s ease-in-out;
}

.ver_mas_cuadrado:hover .ver_mas__icon_fecha2 path {
    fill: #09f;
}

.ver_mas__titulo {
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 1.04em;
}

.ver_mas__icon_fecha2 {
    padding: 0 0 0 0;
    margin: 0;
}

/* ---- Conjunto ---- */

:is(.articulo_cuadrado__titulo,
.publicidad__titulo) {
    grid-column: 1 / -1;
    padding: 1px 0 9px 0;
    margin: 4px 2px 0px 5px;
    font-size: 1.05em;
    border: none;
    border-bottom: 1px solid #1c1c1c33;
    color: #1c1c1cc8;
}

:is(.ver_mas_catalogo, .ver_mas_cuadrado):hover {
    color: #09f;
}

/* ---- Ofertas ---- */

.articulo_catalogo {
    box-sizing: border-box;
    margin: 10px;
    background: #fff;
    padding: 10px 5px 2px 5px;
    box-shadow: 0 0 2px #1c1c1c55;
    border-radius: 4px;
}

.articulo_catalogo__titulo {
    padding: 1px 0 9px 0;
    margin: 4px 2px 0px 5px;
    font-size: 1.05em;
    border: none;
    border-bottom: 1px solid #1c1c1c33;
    color: #1c1c1cc8;
}

.articulo_catalogo__span {
    color: #094;
    margin: 0 1px 0 0;
    font-size: 0.85em;
    z-index: 10;
}

.contenedor--catalogito {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 0 8px;
}

.catalogito {
    box-sizing: border-box;
    border-bottom: 1px solid #1c1c1c33;
    cursor: pointer;
    border-radius: 4px;
    transition: opacity 0.3s ease, transform 0.3s ease-in-out !important
}

.catalogito:hover {
    transform: translateX(5px) scale(1)!important;
    opacity: 75%;
}

.catalogito__div {
    position: absolute;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    color: #1c1c1cc8;
    margin: 10px 0 0 0;
    padding: 10px 9px 10px 0;
    z-index: 5;
}

.catalogito__img {
    width: 29%;
    border-radius: 4px;
    margin: 14px 15px 9px 5px;
    position: relative;
    right: 0;
}

.catalogito__div__titulo {
    font-weight: 500;
    padding: 0;
    margin: 0 0 7px 0;
    font-size: 0.94em;
    width: 95%;
    text-wrap: pretty;
}

.catalogito__div__s {
    font-size: 0.85em;
    opacity: 65%;
    margin: 20px 0 0 0;
    padding: 0;
}

.catalogito__div__p {
    font-size: 1.45em;
    margin: 2px 0 4px 0;
}

.ofertas {
    color: #094;
    font-size: 0.6em;
    z-index: 10;
}

.cuadradito__span__cuotas {
    font-size: 0.78em;
}

.ver_mas_catalogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 2px 4px 5px;
    padding: 7px 10px 7px 5px;
    color: #1c1c1cc8;
    cursor: pointer;
    transition: padding 0.2s ease-in-out, color 0.2s ease-in-out;
}
.ver_mas_catalogo:hover {
    color: #09f;
    padding: 7px 5px 7px 5px;
}

.ver_mas_catalogo:hover .ver_mas__icon_fecha2 path {
    fill: #09f;
}

.ver_mas__titulo {
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 1.03em;
}

.ver_mas__icon_fecha2 {
    padding: 0;
    margin: 0;
}

/* ---- Promociones tarjeta ---- */

.contenedor--oferta--general {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 3px;
}

.oferta--general {
    box-sizing: border-box;
    margin: 4px 10px;
    background: #fff;
    box-shadow: 1px 1px 3px #1c1c1c55;
    border-radius: 4px;
    display: flex;
}

.oferta--general--div {
    width: 55%;
    padding: 5px 10px;
    height: auto;
    position: relative;
    border-radius: 4px 0 0 4px;
}

.oferta--general--div h5 {
    letter-spacing: 1px;
    font-weight: 400;
    padding: 13px 3px 5px;
    margin: 0;
    text-transform: uppercase;
    font-size: 0.8em;
}

.oferta--general--div h3 {
    font-weight: 500;
    padding: 5px 3px 20px;
    margin: 0;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-size: 1.2em;
}

.oferta--general--div--link {
    text-decoration: none;
    color: #08f;
    position: absolute;
    bottom: 15px;
    font-size: 0.95em;
    font-weight: bold;
    letter-spacing: 0.8px;
    padding-left: 3px;
    transition: color 0.2s ease;
}

.oferta--general--div--link:hover {
    color: #0af;
}

.oferta--general img {
    width: 45%;
    border-radius: 0 4px 4px 0;
}
/* ---- footer ---- */

.footer {
    background: #2D033b;
    padding: 10px 0;
    box-sizing: border-box;
}

.footer__logo {
    padding: 10px 15px 0px;
    margin: 0 0 15px;
}

.footer__logo img {
    height: 39px;
}

.footer__ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 0 20px;
    margin: 0;
}

.footer__ul__li {
    width: 45%;
    margin: 3px 0;
    padding: 3px 5px;
    list-style-type: none;
    flex-grow: 1;
    font-size: 1.07em;
}

.footer__ul__li a {
    color: #ddd;
    text-decoration: none;
}

:is(.footer__ul__li a):hover {
    color: #0af;
}

.footer__copyright {
    max-width: 100%;
    color: #ddd;
    padding: 10px 25px;
    margin: 20px 0 5px;
    font-size: 0.9em;
}