body {
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    background: #efefef;
}

.body::-webkit-scrollbar {
    display: none;
}

/* Crear cuenta / Publicidad / Donacion */

.sugerir_abrir_cuenta {
    text-align: center;
    margin: 10px;
    background: #fff;
    padding: 5px 20px 5px 20px;
    box-shadow: 0 0 2px #1c1c1c55;
    border-radius: 4px;
    box-sizing: border-box;
    color: #1c1c1cc8;
}

.sugerir_abrir_cuenta__titulo {
    font-size: 1.25em;
}

.sugerir_abrir_cuenta__boton {
    width: 95%;
    height: 50px;
    margin: 2px 0 3px 0;
    border-radius: 4px;
    box-sizing: border-box;
    border: none;
    color: #fff;
    background: #08f;
    font-size: 1.10em;
    cursor: pointer;
    transition: width 0.3s ease-in-out;
}

.sugerir_abrir_cuenta__boton:hover {
    background: #0af;
    width: 100%;
}

.sugerir_abrir_cuenta__texto  a {
    text-decoration: none;
    color: #08f;
}

.sugerir_abrir_cuenta__texto  a:hover {
    background: transparent;
    color: #0af;
}

.publicidad {
    margin: 10px;
    background: #fff;
    padding: 10px 10px 5px;
    box-shadow: 0 0 2px #1c1c1c55;
    border-radius: 4px;
    box-sizing: border-box;
    color: #1c1c1cc8;
    
}

.publicidad__contenido {
    text-align: center;
    justify-content: space-between;
    margin: 12px 0 4px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.publicidad__item {
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 0 2px #1c1c1c55;
    cursor: pointer;
}

/* Cookies */

.cookies {
    font-size: 16px;
    position: fixed;
    border: none;
    border-radius: 0;
    z-index: 20;
    text-align: center;
    box-shadow: 0 0 2px #1c1c1c77;
    bottom: 0;
}

.cookies.visible {
    display: none;
}

.cookies__contenido {
    background: #fff;
    padding: 6px 5px 4px;
}

.cookies__p {
    color: #1c1c1cdd;
    font-size: 0.9em;
    margin: 0 0 15px 0;
}

.cookies__a{
    text-decoration: none;
    color: #08f;
}
.cookies__a:hover {
    color: #0af;
}

.cookies_btn {
    padding: 11px 16px;
    background: #08f;
    box-sizing: border-box;
    border: none;
    color: #fff;
    font-size: 0.8em;
    cursor: pointer;
    transition: width 0.2s ease-in-out;
    border-radius: 4px;
    margin: 0 2px;
    width: 47%;
}

.cookies_btn:hover {
    background: #0af;
    width: 49%;
}

/* Header */

#header-box {
    background: linear-gradient(#2D033B 50%, #efefef);
}

.nav {
    box-sizing: border-box;
    padding-bottom: 55px;
    background: #2D033b;
}

.nav__div {
    display: flex;
    width: 100%;
    padding: 8px 0;
    position: fixed;
    background: #2D033b;
    justify-content: space-between;
    z-index: 20;
}

.nav__div__separar {
    display: flex;
    margin: auto 8px;
}

.logo {
    height: 39px;
    padding: 0 2px 0 2px;
}

.nav__buscar {
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 22px;
    height: 22px;
    margin: auto;
}

.nav__buscar path {
    fill: #fff;
}

#abrir_lista {
    background: transparent;
    border: none;
}

.nav__menu {
    border-radius: 5px;
    width: 32px;
    height: 32px;
    margin: auto;
    margin: 0 0 0 0;
}

.nav__menu path {
    fill: #fff;
}

.nav__menu__cerrar {
    border-radius: 5px;
    width: 26px;
    height: 26px;
    padding: 3px;
    margin: auto;
}

.nav__menu__cerrar path {
    fill: #fff;
}

.nav__carrito {
    border-radius: 5px;
    border: none;
    width: 26px;
    height: 26px;
    margin: auto;
    margin: 2px 6px 0 9px;
}

.nav__carrito path {
    fill: #fff;
}

/* Lista despliegable */

.header__lista {
  display: none;
  padding: 50px 0 20px;
  width: 100%;
  height: 100vh;
  position: fixed;
  background: #2D033b;
  z-index: 15;
  box-sizing: border-box;
}

.header__lista.visible {
  display: block;
}

.header__lista__botones {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 85px 16px;
  font-size: 1em;
}

.header__lista__boton {
  border: none;
  border-radius: 3px;
  padding: 9px 16px;
  margin: 0;
  font-family: inherit;
  font-weight: 500;
  font-size: 1.07em;
  transition: padding 0.2s ease-in-out;
  color: #fff;
}

.btn__uno {
  background: transparent;
}

.btn__dos {
  background: #08f;
}

.btn__dos:hover {
    background: #0af;
}

.header__lista__boton:hover {
  padding: 9px 18px;
}

.header__lista__input {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
}

.header__lista__input__item {
  height: 36px;
  padding: 0px 15px;
  border-radius: 7px;
  border: 1px solid #00000066;
  width: 80%;
  font-family: inherit;
  color: #000;
  font-size: 1.02em;
}

.header__lista__input__item:focus {
  outline: none;;
}

.header__lista__input__item::placeholder {
    color: #00000066;
}

/*Body Carrusel*/

.carousel {
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    width: 98.3%;
    margin-left: 3px;
    margin-right: 3px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel__item {
    flex-shrink: 0;
    width: 97%;
    height: auto;
    margin: 3px;
    scroll-snap-align: end;
}

.carousel img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 0 2px #1c1c1c55;
}

.tarjetita {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 2px #1c1c1c55;
    width: 94.5%;
    border-radius: 3px;
    padding: 8px 2px;
    font-size: 0.9em;
    margin: 2px 9px 0 9px;
    font-weight: 500;
}

.tarjetita__item {
    width: 12px;
    height: 12px;
    margin: 0 3px 0 0;
}

.tarjetita__item path {
    fill: #094;
}

.tarjetita__color_verde {
    color: #094;
    margin: 0 3px 0 0;
    z-index: 10;
}

/* Artículos */

.articulo_cuadrado {
    box-sizing: border-box;
    margin: 10px;
    background: #fff;
    padding: 10px 5px 5px 5px;
    box-shadow: 0 0 2px #1c1c1c55;
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px 8px;
}

.cuadradito {
    box-shadow: 0 0 2px #1c1c1c33;
    padding: 9px 8px 11px 8px;
    box-sizing: border-box;
    margin: 10px 3px 1px 3px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

.cuadradito__img {
    width: 90%;
    border-radius: 4px;
    margin: 0px 0 2.5px 0;
}

.cuadradito__div {
    text-align: start;
    padding: 0 0 0 8px;
}

.cuadradito__div__titulo {
    font-weight: 500;
    padding: 0;
    margin: 0 0 6px 0;
    font-size: 0.9em;
    color: #1c1c1cc8;
}

.cuadradito__div__texto {
    font-size: 1.15em;
    margin: 1.5px 0 1.3px 0;
    font-weight: 500;
}

.ver_mas_cuadrado {
    border-top: 1px solid #1c1c1c33;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 13px 2px 1px 5px;
    padding: 9px 10px 9px 5px;
    color: #1c1c1cc8;
    cursor: pointer;
    grid-column: 1 / -1;
    transition: padding 0.2s ease-in-out, color 0.2s ease-in-out;
}

.ver_mas_cuadrado:hover {
    padding: 9px 5px 9px 5px;
}

.ver_mas__icon_fecha2 {
    width: 14px; 
    height: 14px;
    font-weight: bold;
}

.ver_mas__icon_fecha2 path {
    fill: #000;
    transition: fill 0.2s ease-in-out;
}

.ver_mas_cuadrado:hover .ver_mas__icon_fecha2 path {
    fill: #09f;
}

.ver_mas__titulo {
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 1.03em;
}

.ver_mas__icon_fecha2 {
    padding: 0 0 0 0;
    margin: 0;
}

/* Conjunto */

:is(.articulo_cuadrado__titulo,
.publicidad__titulo, .all_catalogo__titulo) {
    grid-column: 1 / -1;
    padding: 1px 0 9px 0;
    margin: 4px 2px 0px 5px;
    font-size: 1em;
    border: none;
    border-bottom: 1px solid #1c1c1c33;
    color: #1c1c1cc8;
}

:is(.cuadradito, .publicidad__item, .all_catalogo__div__item) {
    transition: transform, box-shadow 0.3s ease-in-out !important
}

:is(.cuadradito, .publicidad__item, .all_catalogo__div__item):hover {
    transform: translateY(-4px) scale(1)!important;
    box-shadow: 0 0 3px rgba(0,0,0,0.4)!important
}

:is(.ver_mas_catalogo, .ver_mas_cuadrado):hover {
    color: #09f;
}

/* Ofertas */

.articulo_catalogo {
    box-sizing: border-box;
    margin: 10px;
    background: #fff;
    padding: 10px 5px 2px 5px;
    box-shadow: 0 0 2px #1c1c1c55;
    border-radius: 4px;
}

.articulo_catalogo__titulo {
    padding: 1px 0 9px 0;
    margin: 4px 2px 0px 5px;
    font-size: 1em;
    border: none;
    border-bottom: 1px solid #1c1c1c33;
    color: #1c1c1cc8;
}

.articulo_catalogo__span {
    color: #094;
    margin: 0 1px 0 0;
    font-size: 1em;
    z-index: 10;
}

.catalogito {
    box-sizing: border-box;
    border-bottom: 1px solid #1c1c1c33;
    cursor: pointer;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out !important
}

.catalogito:hover {
    transform: translateX(5px) scale(1)!important;
}

.catalogito__div {
    position: absolute;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    color: #1c1c1cc8;
    margin: 10px 0 0 0;
    padding: 10px 9px 10px 0;
    z-index: 5;
}

.catalogito__img {
    width: 31%;
    border-radius: 4px;
    margin: 14px 15px 9px 5px;
}

.catalogito__div__titulo {
    font-weight: 500;
    padding: 0;
    margin: 0 0 10px 0;
    font-size: 0.98em;
    width: 95%;
}

.catalogito__div__s {
    font-size: 0.85em;
    opacity: 65%;
    margin: 30px 0 0 0;
    padding: 0;
}

.catalogito__div__p {
    font-size: 1.45em;
    margin: 2px 0 4px 0;
}

.ofertas {
    color: #094;
    font-size: 0.7em;
    z-index: 10;
}

.cuadradito__span__cuotas {
    font-size: 0.8em;
}

.ver_mas_catalogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 2px 4px 5px;
    padding: 7px 10px 7px 5px;
    color: #1c1c1cc8;
    cursor: pointer;
    transition: padding 0.2s ease-in-out, color 0.2s ease-in-out;
}
.ver_mas_catalogo:hover {
    color: #09f;
    padding: 7px 5px 7px 5px;
}

.ver_mas_catalogo:hover .ver_mas__icon_fecha2 path {
    fill: #09f;
}

.ver_mas__titulo {
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 1.03em;
}

.ver_mas__icon_fecha2 {
    padding: 0;
    margin: 0;
}

/* footer */

.footer {
    background: #2D033b;
    padding: 10px 0;
    box-sizing: border-box;
}

.footer__logo {
    padding: 10px 15px 0px;
    margin: 0 0 15px;
}

.footer__logo img {
    height: 39px;
}

.footer__ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 0 20px;
    margin: 0;
}

.footer__ul__li {
    width: 45%;
    margin: 3px 0;
    padding: 3px 5px;
    list-style-type: none;
    flex-grow: 1;
}

.footer__ul__li a {
    color: #ddd;
    text-decoration: none;
}

:is(.footer__ul__li a):hover {
    color: #0af;
}

.footer__copyright {
    color: #ddd;
    padding: 10px 25px;
    margin: 20px 0 5px;
}